.pagination {
  display: flex;
  list-style: none;
}

.photo {
  padding: 10px 10px 0 0;
  cursor: pointer;
}

.photoList {
  background-color: #eeeff2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #222;
}