.active {
  color: blue;
}

.pagination {
  background-color: #fafafa;
  display: flex;
  float: right;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  padding: 5px;
}
.pagination > li {
  cursor: pointer;
  padding: 0 5px;
  user-select: none;
}

.photo {
  cursor: pointer;
  padding: 10px 10px 0 0;
}

.photoList {
  background-color: #eeeff2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.title {
  color: #222;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
